<!-- Main Section -->
<div class="row">
    <h2>whats your mood?</h2>
    <p>Enter you twitter username below and find your twitter mood</p>
</div>
<div class="row center-block">
    <div class="form-group center-block">
        <form ng-submit="submit()">
            <ul class="list-inline input-list">
                <li>
                    <input id="name" class="input-lg" placeholder="username" ng-model="name" accessible>
                </li>
                <li>
                    <input type="submit" id="submit" value="GO!" class="btn btn-default btn-lg"/>
                </li>
            </ul>
        </form>
    </div>
</div>