<!-- Main Section -->
<section id="main" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>whats your mood?</h2>
            <p>Enter you twitter username below and find out what mood your twitter is</p>
            <div class="form-group col-lg-8 username">
                <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input class="form-control" type="email" placeholder="username">
                    <span class="input-group-addon"><a href="#">GO!</a></span>
                </div>
            </div>
        </div>
    </div>
</section>